html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
  background-color: #ff8c42;
  border-color: #ff8c42;
}

.btn-primary:hover{
  background-color: #e07a35;
  border-color: #e07a35;
}

.btn-primary:active, .btn-primary:focus{
  background-color: #cc6e2e;
  border-color: #cc6e2e;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Adwaita Mono", monospace;
  background: #f4f4f4;
}